*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:linear-gradient(135deg,#0f172a,#1e293b);
    color:white;
    min-height:100vh;
    padding:20px;
}

.container{
    max-width:900px;
    margin:auto;
    background:#111827;
    padding:25px;
    border-radius:20px;
    box-shadow:0 0 20px rgba(0,0,0,0.4);
}

h1{
    text-align:center;
    margin-bottom:10px;
}

.subtitle{
    text-align:center;
    margin-bottom:20px;
    color:#cbd5e1;
}

.student-box{
    margin-bottom:20px;
}

.student-box input{
    width:100%;
    padding:14px;
    border:none;
    border-radius:10px;
    font-size:16px;
    outline:none;
}

.question-box{
    background:#1e293b;
    margin-bottom:20px;
    padding:20px;
    border-radius:15px;
}

.question-box h3{
    margin-bottom:15px;
}

.options label{
    display:block;
    background:#334155;
    padding:12px;
    margin:8px 0;
    border-radius:10px;
    cursor:pointer;
    transition:0.3s;
}

.options label:hover{
    transform:scale(1.02);
}

.options input{
    margin-right:10px;
}

#submitBtn{
    width:100%;
    padding:16px;
    border:none;
    border-radius:12px;
    background:#22c55e;
    color:white;
    font-size:18px;
    cursor:pointer;
    font-weight:bold;
}

#submitBtn:hover{
    opacity:0.9;
}
